@page "/activegame/{Name}/{Id}"

@using static BlazorHub.Pages.NewGame
@using CAH_Blazor.Models

@inject State state;

<h1>Game: @Name</h1>

<Lobby  />


<h2>Active game logic</h2>


@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Id { get; set; }

    //IEnumerable<Game> games;

    Dictionary<Guid, Shared.ChatContext> context = new Dictionary<Guid, Shared.ChatContext>();

    protected override void OnInitialized()
    {

    }

}
