@page "/activegame/{Name}/{Id}"

@using static BlazorHub.Pages.NewGame
@using CAH_Blazor.Models

@inject State state;
@inject ChatService chatService;
@inject NavigationManager navigationManager;

<h1>Game: @Name</h1>

<h2>Active game logic</h2>

<h2>Game chat</h2>

<ChatBox Id="@Id" />
<ChatBox Id="" />


@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Id { get; set; }

    ChatContext chatContext;

    protected override void OnInitialized()
    {
        Guid gameID = Guid.Parse(this.Id);

        // abbuse gameId as chatContext Id

        chatContext = chatService.ResolveChatContext(gameID, navigationManager);
        chatContext.ChatMessagesUpdated += updated;
    }

    private void updated(object sender, EventArgs arg)
    {
        StateHasChanged();
    }

}
