@page "/"

<PageTitle>Index</PageTitle>

<div class="container justify-content-center">
    <h1>
        Welcome to Card Against Humanity.
    </h1>
    <img class="bg-danger" src="/images/cah.png" style="width:70% ; height:70%" />
</div>



@code {
  string text = "Hi";
}