@page "/lobby"
@inject NavigationManager navigationManager
@inject ChatService chatService
@inject UserContext userContext
@inject CAHGameService gameService

@using Microsoft.AspNetCore.SignalR.Client;
<div class="container-fluid">
    <h1>Welcome to the Cards against Humanity Lobby</h1>
    <div class="row">
        <div class="col-3">
            <NavLink href="newgame"><RadzenButton Text="New Game"></RadzenButton></NavLink>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <NavLink href="joingame"><RadzenButton Text="Join Game"></RadzenButton></NavLink>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ChatBox />
        </div>
    </div>
</div>

@code {

}
