@page "/newgame"

@using System.Diagnostics
@using CAH_Blazor.Models

@inject NavigationManager nm;
@inject State state;

@*<h1>New Game</h1>*@

@if (_game == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@_game" Submit="@((Game args) => { Submit(args); })">
        <FluentValidationValidator />
        <div class="row">
            <div class="col-md-6">
                <RadzenFieldset Text="Create a new game">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Name" @bind-Value="_game.Name" />
                            <ValidationMessage For="() => _game.Name" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Password" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Password" @bind-Value="_game.Password" />
                            <ValidationMessage For="() => _game.Password" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="align-items-center d-flex col-md-4">
                            <RadzenLabel Text="Players" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric TValue="int" style="width: 100%;" Name="MaxPlayers" @bind-Value="_game.MaxPlayers"/>
                            <ValidationMessage For="() => _game.MaxPlayers" style="width: 100%"/>
                        </div>
                    </div>

                </RadzenFieldset>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Create" />
                </div>
            </div>
        </div>
    </RadzenTemplateForm>
}


@code {
    private Game _game = new Game();

    protected override void OnInitialized()
    {
        _game.MaxPlayers = 3;
    }


    private void Submit(Game args)
    {
        var game = new Game(args.Name, args.MaxPlayers, args.Password);
        state.GamesToJoin.Add(game);

        nm.NavigateTo("/activegame/" + game.Name + "/" + game.Id, true);

    }
}
